.homeContainer {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap:20px;
  .listItem {
    width: 100%;
    padding: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    transition: transform 0.3s ease-out, border-color 0.3s ease-out;  
  }
  .listItem:hover {
    transform: translateY(-6px);
    cursor: pointer;
    border-color: #ccc123; /* 鼠标悬浮时边框发光 */
    box-shadow: 0 0 10px #ccc123; /* 可选：增加发光效果 */
  }
  .rc-virtual-list-holder-inner{
    border:1px solid red !important;
  }
}
